{% extends "layout.html" %}

{% block title %}
    Location Information
{% endblock %}

{% block body %}
<div class="container text-center">
    <h2 class="display-3">Location</h1>
    <h2 class="display-3">Check In</h2>
</div>
{% if not session['logged_in'] %}
<div class="container text-center">
  <div class="row align-items-cente">
    <div class="col"></div>
    <div class="col-sm-6">
      <div class="alert alert-primary" role="alert">Please Log In First!</div>
    </div>
    <div class="col"></div>
  </div>
</div>
{% else %}
<div class="container text-center">
  <div class="row align-items-cente">
    <div class="col"></div>
    <div class="col-sm-6">
      <form action="/checkin" method="POST">
        <div class="form-group">
          <label for="comments"></label>
          <textarea class="form-control" name="loc_comments" rows="3" placeholder="Comments..."></textarea>
          <br>
          <button type="submit" class="btn btn-primary btn-lg">Check In</button>
        </div>
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>
{% endif %}
{% endblock %}