{% extends "layout.html" %}

{% block title %}
    User Login
{% endblock %}

{% block body %}
    <h1>LOG IN</h1>
    <form>
        <div class="form-group">
            <label for="user_email">Email address</label>
            <input type="email" class="form-control" id="user_email" aria-describedby="emailHelp" placeholder="Enter email">
            <label for="user_pwd">Password</label>
            <input type="password" class="form-control" id="user_pwd" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}